button {
  background-color: #048998;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  line-height: 1.75;
  margin: 0.3125rem;
  min-width: 4rem;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  transition: text-shadow 0.4s, background-color 0.4s;
}

button:hover {
  background-color: #3bb4c1;
  box-shadow: 0 0.3125rem 2.5rem -0.625rem #000;
  text-shadow: 0 0 0.375rem #fff;
}
button[disabled] {
  background-color: #cccaca;
  color: #393e46;
  cursor: not-allowed;
  text-decoration: none;
}

button[disabled]:hover {
  text-shadow: none;
  box-shadow: none;
}

button[secondary] {
  background-color: #222831;
}
button[secondary]:hover {
  background-color: #393e46;
}

button[success] {
  background-color: #1fab89;
}
button[success]:hover {
  background-color: #62d2a2;
}

button[warning] {
  background-color: #ffc057;
}
button[warning]:hover {
  background-color: #ffc93c;
}

button[danger] {
  background-color: #c70039;
}
button[danger]:hover {
  background-color: #f23557;
}

button[link] {
  background-color: #048998;
}

button[link]:hover {
  background-color: #3bb4c1;
}

.buttons_container {
  border: 0.1rem;
  border-color: #eeeeee;
  border-style: solid;
  margin-right: auto;
  padding: 1rem;
}

.button_header_wrapper {
  padding: 1rem;
  text-align: justify;
}

.code_box {
  background-color: #eeeeee;
  border-color: #eeeeee;
  border-style: solid;
  padding: 1rem;
  overflow: scroll;
}

/* Media Queries */
@media (min-width: 1024px) {
  .buttons_container {
    display: flex;
    justify-content: space-evenly;
  }
}
