a {
  text-decoration: none;
  color: #393e46;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a.linkPrimary {
  color: #5b6169;
}

a.linkSecondary {
  color: #222831;
  cursor: none;
}

a.linkSecondary:hover {
  text-decoration: none;
  cursor: text;
}

a.linkPrimary > svg {
  height: 0.75rem;
  margin-right: 0.5rem;
  position: relative;
  cursor: default;
}

a.linkSecondary > svg {
  height: 0.75rem;
  margin-right: 0.5rem;
  position: relative;
  cursor: default;
}
